@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Oswald", serif;

}

nav {
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img_logo_text {
    width: 5rem;
}

ul, li{
    list-style: none;
}

a {
    text-decoration: none;
}

.links{
    display: flex;
    align-items: center;
}

.links > ul > li > a {
    color: black;
}

.links > ul > li > a:hover {
    color: blue;
    transition: 0.3s all;
}

.links > li{
    margin: o 1rem 0 1rem;
}

.login_nav > li > a {
    columns: rgb(35, 35, 35);
    font-weight: 600;
    outline: solid 1px rgb(35, 35, 35);
    padding: 0.5rem;
    border-radius: 5px;
}

.login_nav > li > a:hover {
    color: blue;
}

.links_4 {
    display: flex;
}

.links_4 > li {
    margin: 0 1rem 0 5rem;
}

.main_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5vh;
}

.main_section > div > h1{
    text-align: center;
    font-size: 3rem;
    width: 40rem;
    margin: auto;

}
.main_section > div > p{
    text-align: center;
    height: 10vh;
    margin: 1rem auto 1rem auto;
    width: 35rem;

}

.noticias{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.noticias > div > div > h2 > li > a{
    color: black;
}

.noticias > div > div > h2 > li > a:hover{
    color: red;
}

.noticias > div > div > h3 > li > a{
    color: black;
}

.noticias > div > div > h3 > li > a:hover{
    color: red;
}

.noticias > div > div {
    display: flex;
}




