@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Karla", serif;

}

nav {
    margin: rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img_logo_text {
    width: 15rem;

}

ul, li{
    list-style: none;
}

a {
    text-decoration: none;
}

.links{
    display: flex;
    align-items: center;
}

.links > ul > li > a {
    color: black;
}

.links > ul > li > a:hover {
    font-weight: bold;
    transition: 0.3s all;
}

.links > li{
    margin: 0 1rem 0 1rem;
}

.login_nav > li > a {
    columns: rgb(35, 35, 155);
    font-weight: 600;
    outline: solid 2px rgb(35, 35, 155);
    padding: 0.5rem;
    border-radius: 2px;
}

.login_nav > li > a:hover {
    color: blue;
}

.links_4 {
    display: flex;
}

.links_4 > li {
    margin: 0 1rem 0 1rem;
}

.main_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20vh;
}
.main_section > div{
    height: 100vh;
}

.main_section > div > h1{
    color: black;
    font-size: 4rem;
    width: 40rem;
    margin: auto;
    line-height: 4rem;
    word-spacing: -0.5;
}

.main_section > div > p{
    color: black;
    font-size: 1rem;
    width: 35rem;
    margin: 2rem auto 2rem auto;
    line-height: 2rem;
}

.main_section > div > li{
    margin: 3rem 1rem 3rem 1rem;
}

.main_section > div > li > a{
    background-color: red;
    color: white;
    font-size: 3rem;
    padding: 1.5rem;
    border-radius: 5px;
    font-weight: 600;
}

.main_section > div > li > a:hover{
    font-weight: bold;
}

.description{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.description > div {
    display: flex;
    text-align: left;
    justify-content: center;
}

.description> div > div > p{
    font-size: 1rem;
    width: 20rem;
    margin-right: 1rem;
}

#burguer{
    cursor: pointer;
}


.imagem_tv{
    height: 3rem;
}

.imagem_download{
    height: 2rem;
}

.imagem_olho{
    height: 1.5rem;
}

.section_laptop{
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 1.5rem 0 1.5rem 0;
}

.texto > h2{
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

.texto > p{
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
}

.section_laptop > div {
    margin: 2rem;
}

footer > div {
    display: flex;
    justify-content: left;
    margin: 2rem;
}

.links_footer{
    display: flex;
    gap:5rem;
    flex-wrap: wrap;
}
footer>div>div>ul>li>{
    margin: 5rem;
    
}

footer>div>div>ul>li>a{
    color:black;
    font-weight: 500;
    
    
}

footer>div>div>ul>li>a:hover{
    color:black;
    text-decoration: underline;
}


@media screen and (min-width: 1024px) {
    #burguer {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .login_nav{
        display: none;
    }  
}

@media screen and (max-width: 1024px) {
    .links_4{
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: fit-content;
        margin: 10rem auto auto auto;

    }
    
}

@media screen and (max-width: 775px) {
    .main_section > div > h1 {
        font-size: 2rem;
        width: 20rem;
        line-height: 2rem;
        word-spacing: 0.1rem;
    }
    
    .main_section > div > p {
        font-size: 1rem;
        width: 100%;
        padding: 2rem auto 2rem auto;
        line-height: 1.4rem;
    }
}